<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/ag-grid-community.min.js"></script>
</head>
<body>
    <div>
        <div class="header-wrapper">
            <%- include('header.ejs') %>
        </div>
            <div class="main-wrapper">
                <div class="sidebar-wrapper">
                    <%- include('sidebar.ejs') %>
                </div>
                <div class="body-wrapper">
                    <%- body %>
                </div>
            </div>
            <div class="footer-wrapper">
                <%- include('footer.ejs') %>
            </div>
    </div>
    
    <script src="/js/bootstrap.js"></script>
    <script src="/fonts/fontawesome/all.js"></script>
</body>
</html>