<div>
    <div class="menu-item">
        <ul>
            <li>
                <a href="/">
                    <i class="fa-solid fa-message-plus"></i>
                    <span>Add New Word</span>
                </a>
            </li>
            <li>
                <a href="/word/allwords">
                    <i class="fa-solid fa-message-plus"></i>
                    <span>Word List</span>
                </a>
            </li>
            <li>
                <a href="/word/review">
                    <i class="fa-solid fa-message-plus"></i>
                    <span>Review</span>
                </a>
            </li>
        </ul>
    </div>
</div>