<div class="container">
  <% if(message) { %>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
    <% } %>
      <div class="row justify-content-md-center">
        <div class="card text-center col-md-4 add-new-word-card">
          <div class="card-header">
            Add new word
          </div>
          <div class="card-body">
            <form method="post" action="/NewWord">
              <div class="form-row">
                <div class="mb-3">
                  <input type="text" class="form-control is-valid" id="word" name="word" placeholder="English word"
                    required />
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control is-valid" id="description" placeholder="Description"
                    name="description" />
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control is-valid" id="enMeaning" placeholder="English meaning"
                    name="enMeaning" required/>
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control is-valid" id="faMeaning" placeholder="Farsi Meaning"
                    name="faMeaning" required/>
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control is-valid" id="synonymEn" placeholder="SynonymEn"
                    name="synonymEn"/>
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control is-valid" id="example" placeholder="Example"
                    name="example" required/>
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control is-valid" id="pronunciation" placeholder="Pronunciation"
                    name="pronunciation"/>
                </div>
                <div class="mb-3">
                  <select class="form-control is-valid" id="category" name="category">
                    <% for(var i=0; i < data.length; i++) { %>
                      <option value='<%= data[i].Id %>'>
                        <%= data[i].Name %>
                      </option>
                      <% } %>
                  </select>
                </div>
                <div><input class="btn btn-primary" type="submit" value="Add New Word" /></div>
              </div>
            </form>
          </div>
        </div>
      </div>
</div>